doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Food Munch
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top
      .container
        a.navbar-brand(href="#")
          img.food-munch-logo(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-img.png", class="food-munch-logo")
        button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavAltMarkup
          .navbar-nav.ml-auto
            a.nav-link.active#navItem1(href="#wcuSection")
              | Why Choose Us?
              span.sr-only (current)
            a.nav-link(href="#exploreMenuSection", id="navItem2") Explore Menu
            a.nav-link(href="#deliveryPaymentSection", id="navItem3") Delivery & Payment
            a.nav-link(href="#followUsSection", id="navItem4") Follow Us
    .banner-section-bg-container.d-flex.justify-content-center.flex-column
      .text-center
        h1.banner-heading.mb-3 Get Delicious Food Anytime
        p.banner-caption.mb-4 Eat Smart & Healthy
        button.custom-button View Menu
        button.custom-outline-button Order Now
    .wcu-section.pt-5.pb-5#wcuSection
      .container
        .row
          .col-12
            h1.wcu-section-heading Why Choose Us?
            p.wcu-section-description
              | We use both original recipes and classic versions of famous food
              | items.
          .col-12.col-md-4
            .wcu-card.p-3.mb-3
              img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-serve.png")
              h1.wcu-card-title.mt-3 Food Service
              p.wcu-card-description
                | Experience fine dining at the comfort of your home. All our
                | orders are carefully packed and arranged to give you the nothing
                | less than perfect.
          .col-12.col-md-4
            .wcu-card.p-3.mb-3
              img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/fruits-img.png")
              h1.wcu-card-title.mt-3 Fresh Food
              p.wcu-card-description
                | The Fresh Food group provides fresh-cut fruits and vegetables
                | directly picked from our partner farms and farm houses so that
                | you always get them tree to plate.
          .col-12.col-md-4
            .wcu-card.p-3.mb-3
              img.wcu-card-image(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/offers-img.png")
              h1.wcu-card-title.mt-3 Best Offers
              p.wcu-card-description
                | Food Coupons & Offers upto
                span.offers 50% OFF
                | and Exclusive Promo Codes on All Online Food Orders.
    .explore-menu-section.pt-5.pb-5#exploreMenuSection
      .container
        .row
          .col-12
            h1.menu-section-heading Explore Menu
          .col-12.col-md-6.col-lg-3
            .shadow.menu-item-card.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-ginger-fried-img.png")
              h1.menu-card-title Non-Veg Starters
              a.menu-item-link(href="#nonVeg")
                | View all
                svg(width="16px", height="16px", viewBox="0 0 16 16", class="bi bi-arrow-right-short", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.col-lg-3
            .shadow.menu-item-card.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-veg-starters-img.png")
              h1.menu-card-title Veg Starters
              a.menu-item-link(href="#veg")
                | View all
                svg(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                  path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.col-lg-3
            .menu-item-card.shadow.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-soup-img.png")
              h1.menu-card-title Soups
              a.menu-item-link(href="#soup")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.col-lg-3
            .menu-item-card.shadow.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-grilled-seafood-img.png")
              h1.menu-card-title Fish & Seafood
              a.menu-item-link(href="#seafood")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.col-lg-3
            .menu-item-card.shadow.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-hyderabadi-biryani-img.png")
              h1.menu-card-title Main Course
              a.menu-item-link(href="#main")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.col-lg-3
            .menu-item-card.shadow.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-mushroom-noodles-img.png")
              h1.menu-card-title Noodles
              a.menu-item-link(href="#noddle")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.col-lg-3
            .menu-item-card.shadow.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-gluten-img.png")
              h1.menu-card-title Salads
              a.menu-item-link(href="#salad")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
          .col-12.col-md-6.col-lg-3
            .menu-item-card.shadow.p-3.mb-3
              img.menu-item-image.w-100(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/em-coffee-bourbon-img.png")
              h1.menu-card-title Desserts
              a.menu-item-link(href="#desserts")
                | View All
                svg(width="16px", height="16px", viewBox="0 0 16 16", fill="#d0b200", xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd", d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z")
    .healthy-food-section.pt-5.pb-5
      .container
        .row
          .col-12.col-md-5
            .text-center
              img.healthy-food-section-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/healthy-food-plate-img.png")
          .col-12.col-md-7
            h1.healthy-food-section-heading Fresh, Healthy, Organic, Delicious Fruits
            p.healthy-food-section-description
              | Say no to harmful chemicals and go fully organic with our range of
              | fresh fruits and veggies. Pamper your body and your senses with
              | the true and unadulterated gifts from mother nature. with the true
              | and unadulterated gifts from mother nature.
            button.custom-button Watch Video
    .delivery-and-payment-section.pt-5.pb-5#deliveryPaymentSection
      .container
        .row
          .col-12.col-md-5.order-1.order-md-2
            .text-center
              img.delivery-and-payment-section-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/delivery-payment-section-img.png")
          .col-12.col-md-7.order-2.order-md-1
            h1.delivery-and-payment-section-heading Delivery and Payment
            p.delivery-and-payment-section-description
              | Enjoy hassle-free payment with the plenitude of payment options
              | available for you. Get live tracking and locate your food on a
              | live map. It's quite a sight to see your food arrive at your door.
              | Plus, you get a 5% discount on every order every time you pay
              | online.
            button.custom-button Order Now
            div.mt-3
              img.payment-card-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/visa-card-img.png")
              img.payment-card-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/master-card-img.png")
              img.payment-card-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/paypal-card-img.png")
              img.payment-card-img(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/american-express-img.png")
  .container#nonVeg
    h1 Non-Veg Starters
    p Here are some delicious non-vegetarian starters to tantalize your taste buds:

    .starter
      h2 Chicken Wings -200
      p Crispy and spicy chicken wings served with a tangy dipping sauce.

    .starter
      h2 Garlic Shrimp  -200
      p Succulent shrimp sautéed in garlic butter and served with toasted bread.

    .starter
      h2 Beef Sliders  -200
      p Mini beef burgers with cheese, lettuce, and special sauce.

    .starter
      h2 BBQ Ribs  -200
      p Tender BBQ ribs smothered in barbecue sauce and served with coleslaw.

    .starter
      h2 Calamari Rings  -200
      p Crispy calamari rings served with a zesty marinara sauce.

    .starter
      h2 Tandoori Chicken -250
      p Chicken marinated in yogurt and spices, cooked in a tandoor oven.

    .starter
      h2 Bacon-wrapped Jalapeños -250
      p Jalapeño peppers stuffed with cream cheese and wrapped in bacon.
.line
.container#veg.mt-5
    h1 Veg Starters
    p Delight your taste buds with these delicious vegetarian starters:

    .starter
      h2 Vegetable Spring Rolls -250
      p Crispy spring rolls filled with a mix of vegetables and served with a sweet chili sauce.

    .starter
      h2 Paneer Tikka 250
      p Soft and marinated paneer (cottage cheese) grilled to perfection with spices and herbs.

    .starter
      h2 Spinach and Cheese Stuffed Mushrooms  -230
      p Juicy mushrooms stuffed with a creamy spinach and cheese mixture, baked to perfection.

    .starter
      h2 Veggie Samosas  -240
      p Golden-brown pastries filled with a savory mixture of potatoes, peas, and spices.

    .starter
      h2 Bruschetta  -250
      p Slices of toasted bread topped with diced tomatoes, fresh basil, garlic, and olive oil.

    .starter
      h2 Aloo Tikki  -200
      p Spiced potato patties served with tamarind chutney and yogurt.

    .starter
      h2 Mozzarella Sticks  -200
      p Crispy mozzarella cheese sticks served with marinara sauce.

    p Enjoy these delectable vegetarian starters as a perfect way to begin your meal!
.line 

  .container#soup 
    h1 Soups
    p Warm and comforting soups to soothe your soul:

    .soup
      h2 Tomato Basil Soup  -150
      p A classic tomato soup infused with the flavors of fresh basil.

    .soup
      h2 Chicken Noodle Soup   -150
      p Hearty chicken soup with tender noodles and vegetables.

    .soup
      h2 Creamy Broccoli Soup   -150
      p Smooth and creamy soup made with fresh broccoli florets.

    .soup
      h2 Lentil Soup   -150
      p Nutrient-packed lentil soup with a blend of spices.

    .soup
      h2 Minestrone Soup  -150
      p Italian vegetable soup with pasta and beans.

    .soup
      h2 Thai Coconut Soup  -150
      p A fragrant coconut milk-based soup with Thai herbs and spices.

    .soup
      h2 Mushroom Bisque   -150
      p Rich and velvety soup made with mushrooms and cream.

    p Whether you're looking for a classic or exotic flavor, our soups will warm your heart.
.line 
  .container#seafood 
    h1 Fish & Seafood  -200
    p Dive into the world of seafood with our mouthwatering dishes:

    .dish
      h2 Grilled Salmon  -200
      p Fresh salmon fillet marinated and grilled to perfection.

    .dish
      h2 Shrimp Scampi   -250
      p Succulent shrimp sautéed in garlic butter and served with pasta.

    .dish
      h2 Fish Tacos  -250
      p Soft tortillas filled with crispy fish, coleslaw, and chipotle mayo.

    .dish
      h2 Lobster Bisque  -250
      p A rich and creamy soup made with lobster meat and spices.

    .dish
      h2 Calamari Fritti  -250
      p Tender calamari rings deep-fried to a golden crispness, served with marinara sauce.

    .dish
      h2 Tuna Poke Bowl  -250
      p Fresh tuna chunks served over a bed of rice with avocado and sesame soy dressing.

    .dish
      h2 Garlic Butter Crab  -250
      p Crab legs drenched in a flavorful garlic butter sauce.

    p Explore the flavors of the ocean with our delectable fish and seafood dishes!
.line 
  .container#main
    h1 Main Course
    p Satisfy your hunger with our hearty main course options:

    .dish
      h2 Chicken Alfredo   -250
      p Tender chicken breast and fettuccine pasta in a creamy Alfredo sauce.

    .dish
      h2 Beef Stroganoff  -250
      p Sliced beef cooked with mushrooms and onions in a rich sour cream sauce, served over egg noodles.

    .dish
      h2 Vegetarian Lasagna  -250
      p Layers of pasta, ricotta cheese, and a medley of roasted vegetables, topped with marinara and melted mozzarella.

    .dish
      h2 BBQ Pulled Pork Sandwich   -250
      p Slow-cooked pulled pork tossed in barbecue sauce, served in a soft bun with coleslaw.

    .dish
      h2 Eggplant Parmesan   -250
      p Breaded and fried eggplant slices topped with marinara sauce and melted cheese.

    .dish
      h2 Spicy Tofu Stir-Fry   -250
      p Tofu and mixed vegetables wok-fried in a spicy soy-based sauce, served over rice.

    .dish
      h2 Seafood Paella   -250
      p A flavorful Spanish rice dish with a variety of seafood, saffron, and vegetables.

    p Our main course dishes are sure to leave you satisfied and craving for more!
.line 
 
  .container#noddle
    h1 Noodles
    p Indulge in the savory world of noodles with our delightful options:

    .dish
      h2 Pad Thai   -150
      p Thai stir-fried noodles with shrimp, tofu, bean sprouts, and peanuts in a tamarind sauce.

    .dish
      h2 Vegetable Lo Mein -150
      p Stir-fried egg noodles with a medley of vegetables in a savory soy-based sauce.

    .dish
      h2 Beef Chow Mein   -150
      p Crispy noodles topped with tender beef and a variety of vegetables in a flavorful sauce.

    .dish
      h2 Spicy Ramen   -200 
      p Japanese ramen noodles in a spicy broth with sliced pork, egg, and scallions.

    .dish
      h2 Pesto Pasta   -200
      p Linguine pasta tossed in a creamy basil pesto sauce with cherry tomatoes and pine nuts.

    .dish
      h2 Singapore Noodles   -250
      p Thin rice vermicelli noodles stir-fried with shrimp, chicken, and a blend of spices.

    .dish
      h2 Yakisoba   -200
      p Japanese stir-fried noodles with vegetables and your choice of protein in a tangy sauce.

    p Discover a world of flavors and textures with our delicious noodle dishes!
.line  
.container#salad
    h1 Salads
    p Fresh and healthy salads to tantalize your taste buds:

    .dish
      h2 Caesar Salad   -120
      p Crisp romaine lettuce, croutons, and parmesan cheese tossed in creamy Caesar dressing.

    .dish
      h2 Caprese Salad   -120
      p Sliced tomatoes, fresh mozzarella, basil leaves, and balsamic glaze.

    .dish
      h2 Greek Salad   -120
      p Cucumbers, tomatoes, red onions, olives, and feta cheese drizzled with olive oil and oregano.

    .dish
      h2 Cobb Salad   -120
      p Grilled chicken, bacon, hard-boiled eggs, tomatoes, and avocado over mixed greens with ranch dressing.

    .dish
      h2 Spinach and Strawberry Salad   -120
      p Baby spinach, sliced strawberries, candied pecans, and feta cheese with balsamic vinaigrette.

    .dish
      h2 Quinoa Salad    -120
      p Quinoa, mixed vegetables, chickpeas, and a lemon-tahini dressing.

    .dish
      h2 Waldorf Salad    -120
      p Apples, grapes, celery, walnuts, and mayonnaise over lettuce.

    p Our salads are not just nutritious but bursting with flavor too!   

.line      
 .container#desserts
    h1 Desserts
    p Indulge your sweet tooth with our delectable dessert creations:

    .dish
      h2 Chocolate Lava Cake  -100
      p Warm and gooey chocolate cake with a molten center, topped with vanilla ice cream.

    .dish
      h2 Tiramisu   -150
      p Layers of coffee-soaked ladyfingers and mascarpone cheese, dusted with cocoa powder.

    .dish
      h2 Cheesecake   -150
      p Creamy New York-style cheesecake with your choice of fruit topping.

    .dish
      h2 Apple Pie   -120
      p Classic apple pie with a flaky crust, served with a scoop of vanilla ice cream.

    .dish
      h2 Crème Brûlée   -120
      p Rich custard with a caramelized sugar crust.

    .dish
      h2 Fruit Salad   -50
      p Fresh seasonal fruits served with a drizzle of honey and a sprinkle of mint.

    .dish
      h2 Chocolate Mousse   -120
      p Silky and decadent chocolate mousse topped with whipped cream and chocolate shavings.

    p Our desserts are the perfect way to end your meal on a sweet note!

.line     
    .follow-us-section.pt-5.pb-5#followUsSection
      .container
        .row
          .col-12
            h1.follow-us-section-heading Follow Us
          .col-12
            .d-flex.flex-row.justify-content-center
              .follow-us-icon-container
                i.fab.fa-twitter.icon
              .follow-us-icon-container
                i.fab.fa-instagram.icon
              .follow-us-icon-container
                i.fab.fa-facebook.icon
    .footer-section.pt-5.pb-5
      .container
        .row
          .col-12.text-center
            img.food-munch-logo(src="https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/food-munch-logo-light.png", class="food-munch-logo")
            h1.footer-section-mail-id orderfood@foodmunch.com
            p.footer-section-address 123 Anurag University, Ghatkesar , Hyderabad.

    
        footer 
          .row 
            .col-lg-12
              p &copy; Food Munch 2023


    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')



   

            footer

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js", integrity="sha384-Pzjw5fPlHPwb8Hl+zFk5bFoJy4N7bcp6h3/JBTVqUstjkgpzz/AvZ4FStZ5B5X2k", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-pzjw5fPlHPwb8Hl+zFk5bFoJy4N7bcp6h3/JBTVqUstjkgpzz/AvZ4FStZ5B5X2k", crossorigin="anonymous")
  